# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  BIT_TOKEN: 'dummy_token'

steps:
- task: bit-init@0
  inputs:
    wsdir: './'
- task: CmdLine@2
  inputs:
    script: |
      bit -v
  displayName: 'Use bit'
