# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  BIT_TOKEN: 'dummy_token'

steps:
- task: CmdLine@2
  inputs:
    script: |
      export SHELL=bash
      npx @teambit/bvm install --verbose
      ls /usr/bin
  displayName: 'Get Bit binary path'
# - task: CmdLine@2
#   inputs:
#     script: |
#       export SHELL=bash
#       npx @teambit/bvm install
#       task.setvariable variable=BIT_PATH;]$(npx @teambit/bvm path)
#   displayName: 'Install Bit and Set Bit Path'

# - task: CmdLine@2
#   inputs:
#     script: |
#       export PATH=$(BIT_PATH):$PATH
#       bit -v
#   displayName: 'Use BIT Command'


# - task: bit-init@0
#   inputs:
#     wsdir: './'
