# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  GIT_USER_NAME: "ashanfernando"
  GIT_USER_EMAIL: "ashan256@gmail.com"
  BIT_CONFIG_USER_TOKEN: ""

steps:
- task: bit-init@0
  inputs:
    wsdir: './'

- task: CmdLine@2
  inputs:
    script: |
      bit -v
      echo $(wsdir)
  displayName: 'Bit version'

- task: CmdLine@2
  inputs:
    script: |
      bit login
  displayName: 'Bit login'
